.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .file-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .file-drop-area:hover,
  .file-drop-area.dragover {
    background-color: #f1f1f1;
  }
  
  .file-input {
    display: none;
  }
  
  button {
    background-color: #6200ea;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #3700b3;
  }

  /* Order summary */
#order-summary{
    transform:translatex(-508px) translatey(47px);
    width:19%;
    float:right;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:500;
    font-size:21px;
    text-align:center;
    text-decoration:none;
    text-transform:none;
    box-shadow:0px 0px 10px 0px #adadad;
    background-color:#27ae60 !important;
   }
   
   /* Body */
   body{
    padding-top:64px;
   }
   
   /* Status */
   #status{
    text-align:center;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
   }
   
   #csv-form button{
    visibility:hidden;
   }
   
   /* File Unknown area */
   #csv-form .file-drop-area{
    padding-bottom:69px;
    padding-top:69px;
   }
  
   #csv-form .file-drop-area span{
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:600;
   }
   