body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.app-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.print-type-buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .print-type-button {
    background: #eeeeee;
    flex-grow: 1;
    padding: 5px;
    font-size: 12px; /* Adjust the font size as needed */
    text-align: center;
  }
  
  .asset {
    /* ... existing styles ... */
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  .asset img {
    width: 100%;
    height: auto;
  }
  
  .additional-options {
    width: 100%; /* Make the dropdown take the full width of the container */
    font-size: 12px; /* Adjust the font size as needed */
    margin: 5px 0;
  }
  
  .notes {
    width: 100%; /* Make the input take the full width of the container */
    font-size: 12px; /* Adjust the font size as needed */
  }

  .print-type-button.active {
    background-color: #007bff;
    color: #fff;
}
  

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: .3em;
    color: #333;
    margin-bottom: 0px;
    text-align: center;
}

.file-drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.file-drop-area.highlight {
    background-color: #f0faff;
    border-color: #007bff;
}

#assets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.asset {
    width: 15%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.csv-file {
    display: hidden;
}

.quantity-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.low-quantity {
    background-color: #FFDDDD; /* Light red */
}


.image-container {
    width: 100%; /* Make the image container fill the width of the asset container */
    height: 0; /* Initial height to 0 */
    padding-bottom: 100%; /* This creates a square aspect ratio */
    position: relative; /* Set the position to relative for absolute positioning of the image */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* This ensures the image covers the container while maintaining its aspect ratio */
}

.asset img {
    max-width: 100%;
    border-radius: 8px;
}

.asset select,
.asset input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
